<h1 class="title is-4">Welcome to the admin dashboard, {{userData.given_name}}!</h1>
<table class="table is-fullwidth is-hoverable">
    <tbody>
        {{>admin/pingButton label="Sync Database" target="/admin/sync" text="Sync" }}
        {{>admin/pingButton label="Clear Cache" target="/admin/clearCache" text="Clear" }}
    </tbody>
</table>