{{>meta}}

<div class="notification is-danger is-light admin-note">
  <strong>Attention!</strong> You are viewing the <strong>internal version</strong> of the transaction logs. This table will contain information from donors 
  and recipients who have requested to be kept out of our public records. <strong>Do not share this table.</strong>
</div>

{{>transactions}}