$colors: null;

@import '../../node_modules/bulma/sass/utilities/_all';

$primary: #266dd3;
$secondary: #dd6e42;
$dark: #2f2f41;

$family-primary: 'Inter', sans-serif;
$family-secondary: 'Nunito', Helvetica, Arial, sans-serif,
  -apple-system;

h1,
h2,
h3,
h4,
h5,
.title,
.subtitle {
  font-family: $family-secondary;
}

html {
  font-family: 'Inter', sans-serif !important;
  color: #2f2f41;
}

body {
  font-family: 'Inter', sans-serif !important;
  color: #2f2f41;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1.site-title {
  color: $primary;
}

.hero {
  position: relative;

  img {
    position: absolute;
    right: -5%;
    opacity: 0.2;
    height: 125%;
    top: -12.5%;

    @media only screen and (max-width: 729px) {
      display: none;
    }
  }
}

.Site-Content {
  flex: 1;
}

.button {
  border-radius: 5px !important;
  text-transform: uppercase;
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system !important;
}

.logs {
  background-color: #2f2f41;
  color: #fff;
  width: 100%;
  height: 40rem;
  padding: 10px 15px;
  overflow-y: scroll;
  border-radius: 10px;
  font-size: 13px;
  li.entry {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    .indicator {
      color: #fff;
      margin-right: 5px;
    }
  }
}

.section.main-section {
  padding-top: 0;
}

.panel {
  box-shadow: none;
  border: 1px solid rgba(47, 47, 65, 0.2);
}

#copyright {
  font-weight: 800;
  color: #fff !important;
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 5px;
}

.footer.branded {
  margin-top: 2rem;
  padding: 2rem 1.5rem 3rem;
  background-color: $primary;
  color: #fff;
  .is-hint {
    color: lightgray;
  }

  a {
    color: #fff;
  }

  strong {
    color: #fff;
  }

  p.user-info {
    margin-bottom: 0;
  }
}

.meta#meta {
  margin-bottom: 1rem;
}

.meta-set {
  .label {
    font-size: 1.5rem;
  }

  .value {
    font-size: 3rem;
    color: $primary;
    position: relative;

    &.is-loading {
      pointer-events: none;
      opacity: 1;

      &:after {
        @include loader;
        position: absolute;
        top: 1.5rem;
        left: 0;
        width: 30px;
        height: 30px;
        border-width: 5px;
      }
    }
  }
}

.tabs {
  margin-bottom: 2rem;
}

.table-container {
  margin-top: 2rem;

  #clear-filter {
    margin-bottom: 1rem;
    display: none;

    &.active {
      display: block;
    }
  }

  .transactions {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 2px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    thead {
      font-family: 'Nunito', Helvetica, Arial, sans-serif,
        -apple-system;

      tr {
        text-align: left;
      }
    }

    .tx {
      &.hidden {
        display: none;
      }

      &.tx-positive {
        background-color: rgba(38, 109, 211, 0.1);
      }

      &.tx-negative {
        background-color: rgba(221, 110, 66, 0.1);
      }

      .category-selector {
        span {
          cursor: pointer;
        }
      }

      i.redacted {
        color: rgba(119, 136, 153, 0.8);
      }
    }

    .tx-internal-transfer {
      .tag.amount {
        background-color: lightgrey;
      }
    }

    .dot {
      height: 9px;
      width: 9px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;

      &.tx-dot-success {
        background-color: #5cb85c;
      }

      &.tx-dot-na {
        background-color: lightgray;
      }

      &.tx-dot-error {
        background-color: #cc0f35;
      }

      &.tx-dot-travel-grant {
        background-color: $primary;
      }

      &.tx-dot-donation {
        background-color: $secondary;
      }

      &.tx-dot-internal-transfer {
        background-color: lightgray;
      }

      &.tx-dot-administrative {
        background-color: $dark;
      }

      &.tx-dot-marketing {
        background-color: $dark;
      }

      &.tx-dot-compensation {
        background-color: $dark;
      }
    }
  }
}

.transaction-single {
  width: 100%;

  tr {
    &[changable] {
      td:first-child {
        font-weight: bold;
      }
    }

    &:not([changable]) {
      td {
        color: lightslategray;
      }
    }
  }
}

form#receipt {
  border: none;
  border-radius: 10px;
  background-color: rgba(38, 109, 211, 0.08);
  height: 100%;
  position: relative;
  .dz-message {
    height: 100%;
    margin: 0;

    .dz-button {
      height: 100%;
    }
  }
}

div.notification.admin-note {
  margin-bottom: 0;
}

a.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  //box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $primary;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  text-decoration: none !important;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system !important;

  @media only screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &.cta {
    text-decoration: none;
    font-size: 16px;
  }

  &.disabled {
    pointer-events: none;
    filter: grayscale(1);
  }

  &:hover {
    color: #fff;
    background-color: lighten($primary, 10%);
    transform: translateY(-1px);
    //box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}

@import '../../node_modules/bulma/bulma.sass';
