$primary: #266dd3;
$secondary: #dd6e42;
$dark: #2f2f41;

html {
  font-family: 'Inter', sans-serif !important;
  color: #2f2f41;
}

body {
  font-family: 'Inter', sans-serif !important;
  color: #2f2f41;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

button {
  font-family: 'Inter', sans-serif !important;
  color: #2f2f41;
}

input {
  font-family: 'Inter', sans-serif !important;
  color: #2f2f41;
}

select {
  font-family: 'Inter', sans-serif !important;
  color: #2f2f41;
}

textarea {
  font-family: 'Inter', sans-serif !important;
  color: #2f2f41;
}

h1 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  font-weight: 900;
  color: #2f2f41;
  line-height: 1.25;
}

h2 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  font-weight: 900;
  color: #2f2f41;
  line-height: 1.25;
}

h3 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  font-weight: 900;
  color: #2f2f41;
  line-height: 1.25;
}

h4 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  font-weight: 900;
  color: #2f2f41;
  line-height: 1.25;
}

h5 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  font-weight: 900;
  color: #2f2f41;
  line-height: 1.25;
}

.subtitle {
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  font-weight: 900;
  color: #2f2f41;
  line-height: 1.25;
}

.title {
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  font-weight: 900;
  color: #2f2f41;
  line-height: 1.25;
}

.site-title {
  color: $primary;
}

.Site-Content {
  flex: 1;
}

.button {
  border-radius: 5px !important;
  text-transform: uppercase;
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system !important;
}

.logs {
  background-color: #2f2f41;
  color: #fff;
  width: 100%;
  height: 40rem;
  padding: 10px 15px;
  overflow-y: scroll;
  border-radius: 10px;
  font-size: 13px;
  li.entry {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    .indicator {
      color: #fff;
      margin-right: 5px;
    }
  }
}

td {
  vertical-align: middle !important;
  &:nth-child(1) {
    font-weight: 800;
    width: 40%;
  }
}

tr {
  height: 72px;
  &:target {
    background: #fffacd;
  }
}

.section.main-section {
  padding-top: 0;
}

.panel {
  box-shadow: none;
  border: 1px solid rgba(47, 47, 65, 0.2);
}

.txDate {
  margin-left: 5px;
  color: rgba(47, 47, 65, 0.5);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

#copyright {
  font-weight: 800;
  color: #fff !important;
  font-family: 'Nunito', Helvetica, Arial, sans-serif,
    -apple-system;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer {
  margin-top: 2rem;
  padding: 2rem 1.5rem 3rem;
  background-color: $primary;
  color: #fff;
  .is-hint {
    color: lightgray;
  }

  a {
    color: #fff;
  }

  strong {
    color: #fff;
  }

  p.user-info {
    margin-bottom: 0;
  }
}

.meta {
  margin-bottom: 1rem;
}

.meta-set {
  .label {
    font-size: 1.5rem;
  }

  .value {
    font-size: 3rem;
    color: $primary;
  }
}

.tabs {
  margin-bottom: 2rem;
}

.transactions {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;

  .tx-internal-transfer {
    .tag.amount {
      background-color: lightgrey;
    }
  }

  .tag {
    &.tx-tag-travel-grant {
      background-color: $primary;
      color: #fff;
    }

    &.tx-tag-donation {
      background-color: $secondary;
      color: #fff;
    }

    &.tx-tag-administrative {
      background-color: $dark;
      color: #fff;
    }

    &.tx-tag-marketing {
      background-color: $dark;
      color: #fff;
    }
    
    &.tx-tag-compensation {
      background-color: $dark;
      color: #fff;
    }
  }
}
