html,
body,
button,
input,
select,
textarea {
  font-family: 'Inter', sans-serif !important;
  color: #2F2F41;
}

h1, h2, h3, h4, h5, .subtitle, .title {
  font-family: 'Nunito', Helvetica, Arial, sans-serif, -apple-system;
  font-weight: 900;
  color: #2F2F41;
  line-height: 1.25;
}

.site-title {
  color: #266dd3;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-Content {
  flex: 1;
}

.button {
  border-radius: 5px !important;
  text-transform: uppercase;
  font-family: 'Nunito', Helvetica, Arial, sans-serif, -apple-system!important;
}

.logs {
  background-color: #2F2F41;
  color: #fff;
  width: 100%;
  height: 40rem;
  padding: 10px 15px;
  overflow-y: scroll;
  border-radius: 10px;
  font-size: 13px;
}

.logs li.entry {
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace!important;
  font-weight: bold;
}

.logs li.entry .indicator {
  color: #fff;
  margin-right: 5px;
}

td {
  vertical-align: middle !important;
}

td:nth-child(1) {
  font-weight: 800;
  width: 40%;
}

tr {
  height: 72px;
}

tr:target {
  background: #fffacd;
}

.section.main-section {
  padding-top: 0;
}

.panel {
  box-shadow: none;
  border: 1px solid rgba(47, 47, 65, .2);
}

.txDate {
  margin-left: 5px;
  color: rgba(47, 47, 65, .5);
}

#copyright {
  font-weight: 800;
  color: #fff!important;
  font-family: 'Nunito', Helvetica, Arial, sans-serif, -apple-system;
  cursor: default;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.footer {
  margin-top: 2rem;
  padding: 2rem 1.5rem 3rem;
  background-color: #266dd3;
  color: #fff;
}

.footer .is-hint {
  color: lightgray;
}

.footer a, .footer strong {
  color: #fff
}

.footer p.user-info {
  margin-bottom: 0;
}

.meta {
  margin-bottom: 1rem;
}

.meta-set .label {
  font-size: 1.5rem;
}

.meta-set .value {
  font-size: 3rem;
  color: #266dd3;
}

.tabs {
  margin-bottom: 2rem;
}